body {
  font-family: "Poppins", sans-serif;
}

.btn-add {
  background-color: #0804f0;
  color: #fff;
}
.badge {
  color: #fff;
}

.price {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ff7158;
  margin-bottom: 10px;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
